@import url(base.css);
.line {
		height: 0.12rem;
		background-color: #f0f0f0;
		width: 7.5rem;
	}
.wrapper-fill {
	min-width: 320px;
	width: 7.5rem;
	margin: 0 auto;
}

.wrapper {
	width: 6.9rem;
	margin: 0 auto;
}
@font-face {
	font-family: PingFang-SC-Regular;
	src: url('../fonts/PingFangSC-Regular.ttf');
}
@font-face {
	font-family: PingFang-SC-Bold;
	src: url('../fonts/PingFangSC-Bold.ttf');
}
@font-face {
	font-family: PingFang-SC-Medium;
	src: url('../fonts/PingFangSC-Medium.ttf');
}
.clear {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}
.f-left {
	float: left;
}
.f-right {
	float: right;
}
// 首页
.index {
	.banner {
		position: relative;
		height: 4.2rem;
		img {
			width: 7.5rem;
			height: 4.2rem;
			display: block;
		}
		&::after {
			content: '';
			width: 100%;
			height: 100%;
			background: #333;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.4;
		}
		.mask {
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 3;
			color: #ffffff;
			padding-top: 1.12rem;
			h1 {
				height: 0.48rem;
				font-family: PingFang-SC-Bold;
				font-size: 0.48rem;
				line-height: 0.48rem;
				letter-spacing: 0px;
				color: #ffffff;
				text-align: center;
				margin-bottom: 0.26rem;
			}
			p {
				text-align: center;
				padding-left: 0.66rem;
				padding-right: 0.66rem;
				font-family: PingFang-SC-Medium;
				font-size: 0.28rem;
				line-height: 0.42rem;
				letter-spacing: 0px;
				color: #ffffff;
			}
		}
	}
	.product {
		padding-top: 0.52rem;
		padding-bottom: 0.24rem;
		.swiper-container {
			padding-bottom: 0.6rem;
			.item {
				font-size: 0;
				width: 6.9rem;
				li {
					display: inline-block;
					margin-top: 0.32rem;
					&:nth-of-type(2) {
						margin-left: 0.18rem;
						margin-right: 0.18rem;
					}
					&:nth-of-type(5) {
						margin-left: 0.18rem;
						margin-right: 0.18rem;
					}
					a {
						display: block;
						img {
							width: 2.18rem;
							height: 1.64rem;
						}
						p {
							font-size: 0.28rem;
							font-family: PingFang-SC-Regular;
							line-height: 0.42rem;
							width: 2.18rem;
							word-wrap: normal;
							text-align: center;
							margin: 0.26rem auto 0.12rem;
						}
					}
				}
			}
			.swiper-pagination {
				z-index: 4;
				bottom: 0.1rem;
				span {
					height: 0.07rem;
					background: #e0e0e0;
					border-radius: 0.03rem;
					width: 0.36rem;
					margin: 0;
				}
				.swiper-pagination-bullet-active {
					background: #e94609;
				}
			}
		}
	}
	.common {
		font-family: PingFang-SC-Bold;
		font-size: 0.42rem;
		color: #212121;
		height: 0.6rem;
		line-height: 0.42rem;
		padding-bottom: 0.2rem;
		a.more {
			font-family: PingFang-SC-Regular;
			font-size: 0.28rem;
			color: #bdbdbd;
			float: right;
			line-height: 0.42rem;
		}
	}
	.line {
		height: 0.12rem;
		background-color: #f0f0f0;
		width: 7.5rem;
	}
	.case {
		padding-top: 0.52rem;
		ul {
			li.item {
				border-bottom: 0.01rem solid #e3e3e3;
				margin-top: 0.52rem;
				&:nth-last-of-type(1) {
					border: none;
				}
				&:nth-of-type(1){
					margin-top: 0.32rem;
				}
				img {
					width: 6.9rem;
					height: auto;
				}
				h3 {
					font-family: PingFang-SC-Bold;
					font-size: 0.28rem;
					color: #333333;
					margin-top: 0.25rem;
					margin-bottom: 0.21rem;
				}
				p {
					font-family: PingFang-SC-Regular;
					color: #666666;
					font-size: 0.28rem;
					line-height: 0.42rem;
				}
				a.details {
					display: block;
					width: 1.2rem;
					height: 0.28rem;
					position: relative;
					color: #999999;
					font-size: 0.28rem;
					line-height: 0.28rem;
					margin-top: 0.36rem;
					margin-bottom: 0.48rem;
					&::after {
						content: '>';
						font-size: 0.28rem;
						line-height: 0.28rem;
						display: block;
						position: absolute;
						top: 0;
						right: -0.38rem;
					}
				}
				a.active {
					color: #e94609;
				}
			}
		}
	}
	.video-album {
		ul {
			font-size: 0;
			li {
				height: 2.16rem;
				width: 3.26rem;
				display: inline-block;
				margin: 0.5rem auto;
				a {
					display: block;
					position: relative;
					height: 2.16rem;
					width: 3.26rem;
					&::after {
						content: '';
						display: block;
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						background: #333;
						opacity: 0.4;
					}
					div {
						position: absolute;
						text-align: center;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						z-index: 3;
						p {
							font-family: PingFang-SC-Medium;
							color: #ffffff;
							font-size: 0.32rem;
							line-height: 0.32rem;
						}
					}
					div.index-video {
						img {
							display: block;
							width: 0.44rem;
							height: 0.34rem;
							margin: 0.7rem auto 0.2rem;
						}
					}
					div.index-album {
						img {
							display: block;
							width: 0.4rem;
							height: 0.4rem;
							margin: 0.66rem auto 0.18rem;
						}
					}
				}
			}
		}
	}
	.new {
		padding-top: 0.6rem;
		.new-1st {
			margin-top: 0.34rem;
			img {
				display: block;
				width: 6.9rem;
				height: auto;
			}
			h4 {
				font-family: PingFang-SC-Bold;
				font-size: 0.28rem;
				color: #333;
				margin-top: 0.3rem;
				margin-bottom: 0.24rem;
			}
			p {
				font-family: PingFang-SC-Regular;
				font-size: 0.28rem;
				line-height: 0.42rem;
				color: #666666;
			}
			a.details {
				display: block;
				width: 1.2rem;
				height: 0.28rem;
				position: relative;
				color: #999999;
				font-size: 0.28rem;
				line-height: 0.28rem;
				margin-top: 0.36rem;
				margin-bottom: 0.48rem;
				&::after {
					content: '>';
					font-size: 0.28rem;
					line-height: 0.28rem;
					display: block;
					position: absolute;
					top: 0;
					right: -0.38rem;
				}
			}
		}
		.new-list {
			li {
				display: block;
				padding-top: 0.56rem;
				padding-bottom: 0.5rem;
				border-top: solid 0.01rem #e3e3e3;
				height: 2.74rem;
				.new-title {
					width: 3.6rem;
					height: auto;
					line-height: 0.42rem;
					font-size: 0.28rem;
					h4 {
						font-family: PingFang-SC-Bold;
						color: #333;
					}
					p {
						font-family: PingFang-SC-Regular;
						color: #999999;
						margin-top: 0.16rem;
					}
				}
				.new-pic {
					img {
						display: block;
						width: 2.5rem;
						height: 1.66rem;
					}
				}
			}
		}
	}
}
.meifen {
	.top-content {
		padding-top: 0.56rem;
		padding-bottom: 0.2rem;
		border-top: #666666 0.01rem solid;
		h1 {
			margin-bottom: 0.38rem;
			text-align: center;
			span {
				display: inline-block;
				text-align: left;
				font-size: 0.42rem;
				line-height: 0.42rem;
				color: #333;
				font-family: PingFang-SC-Bold;
			}
		}
		p {
			font-family: PingFang-SC-Regular;
			font-size: 0.28rem;
			line-height: 0.42rem;
			color: #666666;
		}
	}
	.common {
		font-size: 0.42rem;
		line-height: 0.42rem;
		color: #212121;
		position: relative;
		padding-left: 0.28rem;
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0.05rem;
			left: 0;
			height: 0.32rem;
			width: 0.06rem;
			background: #e94609;
			border-radius: 0.02rem;
		}
		a.more {
			font-family: PingFang-SC-Regular;
			font-size: 0.28rem;
			color: #bdbdbd;
			float: right;
			line-height: 0.42rem;
		}
	}
	.line {
		height: 0.12rem;
		background-color: #f0f0f0;
		width: 7.5rem;
	}
	.technology {
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
		video {
			display: block;
			width: 6.9rem;
			height: auto;
			
		}
		.common {
			margin-bottom: 0.6rem;
		}
	}
	.related-products {
		padding-top: 0.6rem;
		padding-bottom: 0.4rem;
		.swiper-container {
			padding-bottom: 0.6rem;
			.item {
				font-size: 0;
				width: 6.9rem;
				li {
					display: inline-block;
					margin-top: 0.52rem;
					&:nth-of-type(2) {
						margin-left: 0.18rem;
						margin-right: 0.18rem;
					}
					&:nth-of-type(5) {
						margin-left: 0.18rem;
						margin-right: 0.18rem;
					}
					a {
						display: block;
						img {
							width: 2.18rem;
							height: 1.64rem;
						}
						p {
							font-size: 0.28rem;
							font-family: PingFang-SC-Regular;
							line-height: 0.42rem;
							width: 2.18rem;
							word-wrap: normal;
							text-align: center;
							margin: 0.26rem auto 0.12rem;
						}
					}
				}
			}
			.swiper-pagination {
				z-index: 4;
				bottom: 0.1rem;
				span {
					height: 0.07rem;
					background: #e0e0e0;
					border-radius: 0.03rem;
					width: 0.36rem;
					margin: 0;
				}
				.swiper-pagination-bullet-active {
					background: #e94609;
				}
			}
		}
	}
	.application{
		padding-top: 0.52rem;
		padding-bottom: 0.52rem;
		.app-list{
			li{
				padding-top: 0.6rem;
				padding-bottom: 0.6rem;
				border-bottom: 0.01rem solid #d9d9d9;
				&:nth-last-of-type(1){
					border: none;
					padding-bottom: 0;
				}
				.img-box{
					position: relative;
					height: 3.88rem;
					width: 6.9rem;
					&::after{
						content: '';
						display: block;
						position: absolute;
						height: 20%;
						width: 100%;
						background: #333;
						opacity: .6;
						left: 0;
						bottom: 0;
					}
					.img-mask{
						position: absolute;
						z-index: 3;
						height: 20%;
						width: 100%;
						font-size: 0.28rem;
						font-family: PingFang-SC-Bold;
						color: #fefefe;
						left: 0;
						bottom: 0;
						h5{
							padding-left: 0.33rem;
							padding-top: 0.2rem;
						}
					}
					img{
						width: 6.9rem;
						height: auto;
					}
					
				}
				p{
					font-family: PingFang-SC-Regular;
					font-size: 0.28rem;
					line-height: 0.42rem;
					color: #666666;
					margin-top: 0.2rem;
				}
			}
		}
	}
	.relevant-cases{
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
		ul{
			li.item {
				border-bottom: 0.01rem solid #e3e3e3;
				margin-top: 0.52rem;
				&:nth-last-of-type(1) { 
					border: none;
					a.details {
						margin-bottom:0;
					}
				}
				img {
					width: 6.9rem;
					height: auto;
				}
				h4 {
					font-family: PingFang-SC-Bold;
					font-size: 0.28rem;
					color: #333333;
					margin-top: 0.25rem;
					margin-bottom: 0.21rem;
				}
				p {
					font-family: PingFang-SC-Regular;
					color: #666666;
					font-size: 0.28rem;
					line-height: 0.42rem;
				}
				a.details {
					display: block;
					width: 1.2rem;
					height: 0.28rem;
					position: relative;
					color: #999999;
					font-size: 0.28rem;
					line-height: 0.28rem;
					margin-top: 0.36rem;
					margin-bottom: 0.48rem;
					&::after {
						content: '>';
						font-size: 0.28rem;
						line-height: 0.28rem;
						display: block;
						position: absolute;
						top: 0;
						right: -0.38rem;
					}
				}
				a.active {
					color: #e94609;
				}
			}
		}
	}
}

.videos{
	.banner{
		img{
			width: 7.5rem;
			height: auto;
		}
	}
	.tabs{
		text-align: center;
		padding-bottom: 0.54rem;
		.tabs-list{
			font-size: 0;
			margin-top: 0.22rem;
			li{
				display: inline-block;
				margin-right: 0.5rem;
				&:nth-last-of-type(1){
					margin: 0;
				}
				a{
					display: block;
					position: relative;
					overflow: visible;
					height: 0.72rem;
					width: 1.2rem;
					font-family: PingFang-SC-Regular;
					font-size: 0.28rem;
					line-height: 0.72rem;
					color: #cccccc;
				}
			}
			li.active{
				a{
					color: #e94609;
					&::after{
						content: '';
						width: 0.28rem;
						height: 0.04rem;
						background-color: #e94609;
						border-radius: 0.01rem;
						position: absolute;
						display: block;
						bottom: 0;
						left: 50%;
						margin-left: -0.14rem;
					}
				}
			}
		}
			.video-list{
				font-size: 0;		
				li.item{
					margin-top:0.48rem ;
					.v-box{
						position: relative;
						height: 1.88rem;
						width: 3.36rem;
						img.img-fluid{
							display: block;
							height: 1.88rem;
							width: 3.36rem;
						}
						span{
							display: block;
							background: #333333;
							width: 0.46rem;
							height: 0.46rem;
							position: absolute;
							top: 50%;
							left: 50%;
							margin-left: -0.23rem;
							margin-top: -0.23rem;
							border-radius: 50%;
							opacity: .7;
							img{
								width: 0.46rem;
								height: 0.46rem;
							}
						}
					}
					p{
						font-family: PingFang-SC-Regular;
						font-size: 0.28rem;
						color:#333 ;
						width: 3.36rem;
						margin-top: 0.13rem;
						line-height: 0.42rem;
					}
				}
			}
		
	}
	.line {
		height: 0.12rem;
		background-color: #f0f0f0;
		width: 7.5rem;
	}
}
.materiel-list{
	.banner {
		position: relative;
		height: 4.2rem;
		img {
			width: 7.5rem;
			height: 4.2rem;
			display: block;
		}
		&::after {
			content: '';
			width: 100%;
			height: 100%;
			background: #333;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.4;
		}
		.mask {
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 3;
			color: #ffffff;
			padding-top: 1.12rem;
			h1 {
				height: 0.48rem;
				font-family: PingFang-SC-Bold;
				font-size: 0.48rem;
				line-height: 0.48rem;
				letter-spacing: 0px;
				color: #ffffff;
				text-align: center;
				margin-bottom: 0.26rem;
			}
			p {
				text-align: center;
				padding-left: 0.66rem;
				padding-right: 0.66rem;
				font-family: PingFang-SC-Medium;
				font-size: 0.28rem;
				line-height: 0.42rem;
				letter-spacing: 0px;
				color: #ffffff;
			}
		}
	}
	.materiels{
		text-align: center;
		padding-bottom: 0.6rem;
		ul{
			font-size: 0;
			li{
				display: inline-block;
				margin-top: 0.6rem;
				margin-left:0.18rem;
				 margin-right: 0.18rem;
				a{
					display: block;
					img{
						height: 1.36rem;
						width: 1.36rem;
					}
					p{
						width: 1.36rem;
						font-family: PingFang-SC-Regular;
						font-size: 0.28rem;
						color: #333;
						margin-top: 0.26rem;
						line-height: 0.28rem;
					}
				}
			}
		}
	}
	.line {
		height: 0.12rem;
		background-color: #f0f0f0;
		width: 7.5rem;
	}
}
.new-con{
    .line {
        height: 0.12rem;
        background-color: #f0f0f0;
        width: 7.5rem;
    }
    .top-pic{
        img{
            width: 7.5rem;
			height: auto;
        }
    }
	.new-box{
		h1{
			text-align: center;
			span{
				display: inline-block;
				text-align: left;
				font-family: PingFang-SC-Medium;
				font-size: 0.32rem;
				line-height: 0.32rem;
				color: #333;
				margin-top:0.4rem;
				 margin-bottom: 0.26rem;
			}
		}
		.text-center{
			text-align: center;
			font-family: PingFang-SC-Medium;
			font-size: 0.24rem;
			line-height: 0.24rem;
			color: #ccc;
		}
		.new-main{
			margin-top: 0.26rem;
			padding-bottom: 0.52rem;
			p{
				font-family: PingFang-SC-Regular;
				font-size: 0.28rem;
				color: #666666;
				line-height: 0.42rem;
				text-indent: 2em;
				padding-left: 0.06rem;
				padding-right: 0.06rem;
			}
		}
	}
}
.news-list{
	.banner{
		img{
			width: 7.5rem;
			height: auto;
		}
	}
	.line {
		height: 0.12rem;
		background-color: #f0f0f0;
		width: 7.5rem;
	}
	.news-tabs{
		text-align: center;
		padding-bottom: 0.54rem;
		.tabs-list{
			font-size: 0;
			margin-top: 0.22rem;
			li{
				display: inline-block;
				margin-right: 0.5rem;
				&:nth-last-of-type(1){
					margin: 0;
				}
				a{
					display: block;
					position: relative;
					overflow: visible;
					height: 0.72rem;
					width: 1.2rem;
					font-family: PingFang-SC-Regular;
					font-size: 0.28rem;
					line-height: 0.72rem;
					color: #cccccc;
				}
			}
			li.active{
				a{
					color: #e94609;
					&::after{
						content: '';
						width: 0.28rem;
						height: 0.04rem;
						background-color: #e94609;
						border-radius: 0.01rem;
						position: absolute;
						display: block;
						bottom: 0;
						left: 50%;
						margin-left: -0.14rem;
					}
				}
			}
		}
	}
		.news-list-box {
			li {
				display: block;
				padding-top: 0.56rem;
				padding-bottom: 0.5rem;
				border-top: solid 0.01rem #e3e3e3;
				height: 2.74rem;
				&:nth-of-type(1){
					border: none;
					padding-top: 0;
					height: 2.24rem;
				}
				.new-title {
					width: 3.6rem;
					height: auto;
					line-height: 0.42rem;
					font-size: 0.28rem;
					h4 {
						font-family: PingFang-SC-Bold;
						color: #333;
					}
					p {
						font-family: PingFang-SC-Regular;
						color: #999999;
						margin-top: 0.16rem;
					}
				}
				.new-pic {
					img {
						display: block;
						width: 2.5rem;
						height: 1.66rem;
					}
				}
			}
		}
	
}
.video-con{
	.video-con-p{
		font-family: PingFang-SC-Medium;
	font-size: 0.32rem;
	color: #333333;
	text-align: center;
	margin: 0.35rem auto 0.56rem;
	}
}